In [1]:
from rpy2.robjects import r, pandas2ri
filename = "merged_r6_data_2016_36countries2.sav"
w = r('foreign::read.spss("%s", to.data.frame=TRUE,use.value.labels = FALSE)' % filename)
cols = list(r("attr")(w, "variable.labels")) 
w.colnames = cols
w.to_csvfile("merged_r6_data_2016_36countries.csv")

rpy2.rinterface.NULL

In [52]:
w

R object with classes: ('data.frame',) mapped to:
<DataFrame - Python:0x117a1edc8 / R:0x7fd01eaf8600>
[FactorVec..., FloatVector, FloatVector, FloatVector, ..., FloatVector, FloatVector, FloatVector, FloatVector]
  Respondent Number: <class 'rpy2.robjects.vectors.FactorVector'>
  R object with classes: ('factor',) mapped to:
<FactorVector - Python:0x124df6208 / R:0x10ca1b000>
[ALG0001, ALG0002, ALG0003, ALG0004, ..., ZIM2397, ZIM2398, ZIM2399, ZIM2400]
  Country: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x124df6a08 / R:0x11ff25000>
[1.000000, 1.000000, 1.000000, 1.000000, ..., 36.000000, 36.000000, 36.000000, 36.000000]
  Country in R5 Alphabetical Order: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x124df6148 / R:0x120010000>
[1.000000, 1.000000, 1.000000, 1.000000, ..., 35.000000, 35.000000, 35.000000, 35.000000]
  Country by Region: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x124df6ac8 / R:0x1200fb000>
[4.000000, 4.000000, 4.000000, 4.000000, ..., 3.000000, 3.000000, 3.000000, 3.000000]
...
  Province or Region: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x1178bf308 / R:0x1195eb000>
[0.000000, 0.000000, 0.000000, 0.000000, ..., 0.000000, 0.000000, 0.000000, 0.000000]
  Location Level 1: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x1178bff88 / R:0x119ee5000>
[0.000000, 0.000000, 0.000000, 0.000000, ..., 1.000000, 1.000000, 1.000000, 1.000000]
  EA-SVC-A. Electricity grid in the PSU/EA: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x1178bffc8 / R:0x11bb68000>
[1.000000, 1.000000, 1.000000, 1.000000, ..., 0.000000, 0.000000, 0.000000, 0.000000]
  EA-SVC-B. Piped water system in the PSU/EA: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x117a1e448 / R:0x11d382000>
[0.000000, 0.000000, 0.000000, 0.000000, ..., 0.000000, 0.000000, 0.000000, 0.000000]